* {
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;  
   
    color: black;
}
body.Home {
    background-color: lightblue;
    }
body {
  font-family: Verdana, Arial, sans-serif;
  color: black;
  font-size: 1.1em;
  }
  


/* 
.imgs{
  float: left;
  width: 25%;
  padding: 2px;
}
.imgs:hover {
  opacity: 0.5;
}
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.download:hover, .download:active {
  background-color: red;
}

    div.Titel {
      max-width: 70%; 
      margin: auto;
      font-family: Verdana, Arial, sans-serif; 
      text-align: center; 
      color: darkblue;  
      background-color: lightgreen;
      position: sticky;
      top: 2px;  
      }
      div.nav_l {
        font-family: Verdana, Arial, sans-serif; 
        text-align: center;
        color: darkblue;
        background-color: lightgreen;
        position: fixed;
        top: 20px;
        left: 15px;
        width: 90px;
        border: 3px solid green;
        border-bottom: 3px solid green;       
      }
      .Rollstuhl {
        position: fixed;
        bottom: 0;
        
      }
    
      div.nav_r {
        font-family: Verdana, Arial, sans-serif; 
        text-align: center;
        color: darkblue;
        background-color: lightgreen;
        position: fixed;
        top: 20px;
        right: 15px;
        width: 90px;
        border: 3px solid green;
        
      }
      

    h2 {
        text-align: center;
        color: black;
    }

    h3/* Übertitel der Prüfungen*/ {
    border-bottom: 2px groove black; /*Hier könnte jedweils die Hintergrundfareb, aber dünkler sein */
    background-color: greenyellow;
    
    }
 
    button {
        text-align: center;
        width: 100%;
        height: auto;
        padding: 50px 0;                         /*padding: 50px 60px 50px 60px; */
        border-color: green;
        border-radius: 5px;
        border-width: 3px;
        background-color: rgba(0, 255, 0, 0.3);
    }
    button:hover {
      background-color: rgba(0, 255, 0, 0.7);
    }

            /*Links*/
    .link:link, .link:visited { 
        text-decoration: none;
        color: black;  
        border-color: green;
        border-bottom: green;
        border-radius: 5px;
        border-width: 1px;
        
      }   
      .link:hover, .link:active {
        text-decoration: none;
        color: black;
        background-color: green; 
      }
 
      div.gallery {
        border: 1px solid #ccc;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
 
      .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }

      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }

      
