body {
    background-color: lightblue;
  }
  
  h1 {
    text-align: center;
    color: darkblue;
    margin-left: 20px;
    background-color: lightgreen;
    }

    h3 {
    border-bottom: 6px groove red; /*Hier könnte jedweils die Hintergrundfareb, aber dünkler sein */
    background-color: lightgrey;
    }
 
    button {
        padding: 40px 50px 40px 50px;
        border-color: green;
        border-radius: 5px;
        border-width: 2px;
        background-color: rgba(0, 255, 0, 0.3);
    }
    
    a {
        text-decoration: none;
      }