body {
    background-color: lightblue;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    color: black;
}
  
  h1 {
    max-width: 1500px; 
    margin: auto;
    text-align: center; 
    color: darkblue;
    
    background-color: lightgreen;
    }

    h2 {
        text-align: center;
        color: black;
    }

    h3 {
    border-bottom: 2px groove black; /*Hier könnte jedweils die Hintergrundfareb, aber dünkler sein */
    background-color: greenyellow;
    
    }
 
    button {
        min-width: 150px;
        padding: 50px 5%;                          /*padding: 50px 60px 50px 60px; */
        border-color: green;
        border-radius: 5px;
        border-width: 3px;
        background-color: rgba(0, 255, 0, 0.3);
    }

    a:link, a:visited {
        text-decoration: none;
        color: black;
      }   
      a:hover, a:active {
        text-decoration: none;
        color: black;
        background-color: rgba(0, 255, 0, 0.3);
        border-color: green;
        border-radius: 5px;
        border-width: 1px;
      }
 
